* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  font-family: Arial, sans-serif;
}

/* Navbar fixed offset */
body { padding-top: 70px; }

/* HERO */
.hero {
  min-height: 70vh;
  background: url("../img/bgayam.jpg") center/cover no-repeat;
  position: relative;

}

.hero-overlay {
  min-height: 70vh;
  background: rgba(227, 242, 253, 0.75); 
  display: flex;
  align-items: center;
    position: absolute;
  inset: 0; /* top:0 right:0 bottom:0 left:0 */
}

.hero h1 { color: #0d47a1; }
.hero p  { color: #0d47a1; }

/* Card hover */
.product-card {
  border: none;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform .3s ease, box-shadow .3s ease;
}
.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 28px rgba(0,0,0,0.12);
}

/* bagian scroll */
section { scroll-margin-top: 80px; }

/* navbar */
.navbar .nav-link {
  color: #ffffff !important;
}
