body {
  scroll-behavior: smooth;
}
.hero {
  background:
  linear-gradient(
  rgba(58, 48, 48, 0.85),
  rgba(29, 25, 25, 0.85)
  ),
  url("../img/bgayam.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 160px 20px;
}
.section-padding {
  padding: 80px 0;
}
/* animasi */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
